@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oxanium:wght@200..800&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}


body {
  font-family: 'Oxanium', sans-serif;
  
}

.container-fluid {
  background-color: #07070c;
  
}

.collapse {
  width: 100%;
  
  
}

.navbar {
  padding: 0;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
 
  
}

.nav-link {
  text-align: center;
}

.navbar-nav .nav-link {
  color: white;
}

.titulo-segunda-seccion {
  font-size: 48px;
  color: white;
}

/* Estilo para el contenedor de formulario */
form {
    max-width: 400px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario */
    padding: 20px; /* Espaciado interno */
  }
  
  /* Estilo para los campos de entrada */
  .form-control {
    border-radius: 10px; /* Borde redondeado */
    border: 1px solid #ced4da; /* Borde */
  }
  
  /* Estilo para las etiquetas de los campos de entrada */
  .form-label {
    color: #333; /* Color del texto */
  }
  
  
  /* Estilo para el botón de enviar */
  .btn-primary {
    background-color: #ffc01d !important; /* Color de fondo */    
    color: #000000 !important; /* Color del texto */
    border-radius: 10px; /* Borde redondeado */
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Cambio de color de fondo al pasar el ratón */
    border-color: #0056b3; /* Cambio de color del borde al pasar el ratón */
  }
  
  /* Estilo para los enlaces dentro del texto del formulario */
  a {
    color: #007bff; /* Color del enlace */
  }
  
  a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
  }
  
  /* Estilo para los botones de registro */
  .btn-secondary {
    margin: 5px; /* Margen entre botones */
  }
  
  /* Estilo para los íconos de los botones de registro */
  .btn-floating i {
    font-size: 18px; /* Tamaño del ícono */
  }
  
  /* Estilos para el carousel */
      #carouselExampleInterval {
        max-width: auto; /* Ancho máximo del carousel */
        margin: 0 auto; /* Centra el carousel horizontalmente */
      }
  
      .carousel-inner .carousel-item img {
        max-height: 400px; /* Altura máxima de las imágenes del carousel */
        object-fit: cover; /* Ajusta el tamaño de las imágenes sin deformarlas */
      }
    .fancy-heading small.text-muted {
      color: #6c757d; /* Color de texto secundario */
    }
     /* Default height for small devices */
     #intro-example {
      height: 400px;
    }
  
    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 600px;
      }
    }
  
    /* Estilo para el título de la tarjeta */
  .card-title {
    color: #ffffff; /* Color del texto */
    font-size: 1.5rem; /* Tamaño de fuente */
    margin-bottom: 1rem; /* Espacio inferior */
  }
  
  /* Estilo para el texto de la tarjeta */
  .card-text {
    color: #ffffff; /* Color del texto */
    font-size: 1rem; /* Tamaño de fuente */
    font-family: 'Inter', sans-serif;
  }
  .card-body {
    max-width: 100%; /* Limitar el ancho máximo */
    padding: 8px; 
    margin-top: 136px;
    
  }
  
  
  /* Estilo para el botón */
  .btn-primary {
    background-color: #007bff; /* Color de fondo */
    border-color: #007bff; /* Color del borde */
    color: #fff; /* Color del texto */
    font-size: 12px; /* Tamaño de fuente */
    padding: 0.5rem 1rem; /* Relleno */
    border-radius: 3px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Cambio de color de fondo al pasar el ratón */
    border-color: #0056b3; /* Cambio de color del borde al pasar el ratón */
  }

  .section-1 {
    background-color: #07070c;
  }

  

#contenedor-cards { 
  
  margin-top: 0px !important;
  height: 400px;  
  justify-content: center;
  gap: 24px;
  
  
  
  
}

.segunda-seccion {
  
  display: flex;
  justify-content: center;
  text-align: center;    
  width: 100%;
  padding: 50px 70px;
  flex-direction: column;
  border: none;
  background-color: #07070c;
}

.segunda-seccion p {
  color: #ebeff0;
}


.card-segunda-seccion {
  width: 270px;
  height: 288px;
  border-radius: 3px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(19, 18, 18)), url('/img/imagen-vj1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}
.cont-tarjet-second{
  min-width: 270px;
  min-height: 288px;
  flex-basis: fit-content;
}
.tarjet-second {
  width: 270px;
  height: 288px;
  border-radius: 3px;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(19, 18, 18)), url('/img/imagen-vj1.png'); */
  background-size: cover;
  
  background-repeat: no-repeat;  
}
.container-section {  
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(115,29,253,1) 50%, rgba(135,10,143,1) 100%);  
}

.cards-tercera-seccion {
  width: 170px;
  height: 284px; 
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(19, 18, 18)), url('/img/imagen-vj1.png');
  background-size: cover;
  background-position: center;
}

.display-4 {
  color: white;
}

.lead {
  color: white;
}

footer {
  background-color: #07070c;
  color: white;
}











